.DS_STORE
node_modules
scripts/flow/*/.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
flow-coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo
dist/

corber/tmp-livereload
corber/cordova/node_modules
corber/cordova/package.json
corber/cordova/package-lock.json
corber/cordova/platforms/*
!corber/cordova/platforms/.gitkeep
corber/cordova/plugins/*
!corber/cordova/plugins/.gitkeep
corber/cordova/www/*
!corber/cordova/www/.gitkeep