@import "../../../_variables.scss";

section.Content {
  height: 100%;
  overflow-y: hidden;

  div.yffr-footer {
    background-color: #fff;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -29px;
    z-index: 10;
  }
}

div.content-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;

  div.yffr-logo-header {
    flex: 0 0 22%;

    img {
      margin-top: 25%;
      width: 80px;
    }
  }

  div.content-player {
    align-self: stretch;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;

    h1 {
      flex-basis: 5%;
      margin-bottom: 0;
      padding-top: 5%;
    }

    div.yffr-logo-header {
      flex: 0 0 22%;
  
      img {
        margin-top: 25%;
        width: 80px;
      }
    }

    div.content-to-view {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 0 10px;
      width: 80%;

      div#you-tube-player {
        border: 2px solid #333;
        border-radius: 5px;
        display: flex;
        align-items: center;
      }

      p.title {
        flex-grow: 1;
        font-size: 1.2em;
        text-align: center;
      }
    }

    div.control-actions {
      padding: 10% 0;
      display: flex;
      align-items: center;
      justify-content: space-around;

      button {
        background-color: #ddd;
        color: #666;
      }

      button:nth-of-type(2) {
        svg {
          font-size: 1.5em;
        }
      }
    }
  }

  div.content-player.audio {
    div.yffr-logo-header {
      flex: 0 0 22%;
  
      img {
        margin-bottom: 15%;
        margin-top: 25%;
        width: 160px;
      }
    }

    div.content-to-view {
      p.title {
        flex: 0 1 auto;
      }

      div.player-controls {
        margin-top: 20px;
      }
    }
  }

  div.content-filter-bar {
    align-self: stretch;
    display: flex;
    flex-basis: 40px;
    justify-content: space-around;
    margin: 2% 5% 5%;
  
    button {
      background-color: $color-primary-dark;
      font-size: .9em;
    }
  }

  div.content-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 5px;
    margin-bottom: 30px;
    overflow-y: scroll;
    padding: 0 2% 0;
    width: 100%;

    div.content-item {
      align-self: stretch;
      cursor: pointer;
      margin: 5px 5% 5px;
      text-align: center;

      .thumbnail-wrapper {
        background-color: #cfcfcf;
        border: 2px solid $color-primary;
        border-radius: 5px;
        padding: 6px;

        img {
          height: 140px;
        }
      }
      p {
        font-size: 1.1em;
        margin: 4px 0;
        text-align: left;
      }
    }
  }
}