section.Content {
  height: 100%;
  overflow-y: hidden; }
  section.Content div.yffr-footer {
    background-color: #fff;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -29px;
    z-index: 10; }

div.content-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%; }
  div.content-screen div.yffr-logo-header {
    flex: 0 0 22%; }
    div.content-screen div.yffr-logo-header img {
      margin-top: 25%;
      width: 80px; }
  div.content-screen div.content-filter-bar {
    align-self: stretch;
    display: flex;
    flex-basis: 40px;
    justify-content: space-around;
    margin: 2% 5% 5%; }
    div.content-screen div.content-filter-bar button {
      background-color: #124761;
      font-size: .9em; }
  div.content-screen div.content-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 5px;
    margin-bottom: 30px;
    overflow-y: scroll;
    padding: 0 2% 0;
    width: 100%; }
    div.content-screen div.content-list div.content-item {
      align-self: stretch;
      cursor: pointer;
      margin: 5px 5% 5px;
      text-align: center; }
      div.content-screen div.content-list div.content-item .thumbnail-wrapper {
        background-color: #cfcfcf;
        border: 2px solid #1d79a6;
        border-radius: 5px;
        padding: 6px; }
        div.content-screen div.content-list div.content-item .thumbnail-wrapper img {
          height: 140px; }
      div.content-screen div.content-list div.content-item p {
        font-size: 1.1em;
        margin: 4px 0;
        text-align: left; }
