div.content-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;

  div.yffr-logo-header {
    flex: 0 0 22%;

    img {
      margin-top: 25%;
      width: 80px;
    }
  }
  
  div.yffr-footer {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
  }
}