@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
}

.hr {
  border-top: 1px solid #8c8b8b;
  display: block;
  height: 0px;
  width: 90%;
}
